<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lora|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet"
      href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}">
    {% feed_meta %}
    {% seo %}
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body class="{% if page.style %}{{ page.style }} {% endif %}">
    {% include navigation.html %}
    {{ content }}
  </body>
</html>
